body{
  background-image: url(background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.opaco{
  width: 1100px;
  height: 590px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

header{
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

header > img{
  width: 200px;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

h1{
  font-family: sans-serif;
  margin-top: auto;
  color: #00dd00
}

header > div{
  display: inline-block;
  text-align: center;
  width: 910px;
  height: 50px;
  background-color: #00dd00
}

main{
  width: auto;
  height: auto;
  margin-left: 10%;
  margin-top: auto;
  margin-bottom: auto;
}

section{
  color: white;
  margin-top: auto;
}

h2{
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
}

.via{
  margin-top: -12px;
  font-size: 15px;
  font-family: sans-serif;
}

.carica{
  margin-top: 1px;
  font-size: 15px;
}

.stato{
  background-color: orange;
  width: 250px;
  height: 23px;
  border-radius: 5px;
}

.stato2{
  background-color: #1ec31e;
  width: 450px;
  height: 23px;
  border-radius: 5px;
}

.stato3{
  background-color: #be4141;
  width: 100px;
  height: 23px;
  border-radius: 5px;
}
